{% extends "base.html" %}
{% block title %}<title>Homepage</title>{% endblock %}
{% block homepage %}<a class="btn btn-primary mx-1" href="{% url 'index' %}">HOMEPAGE</a>{% endblock %}
{% block profile %}<a class="btn btn-primary mx-1" href="{% url 'profile' %}">PROFILE</a>{% endblock %}
{% block settings %}{% endblock %}
{% block logout_action %}<a class="btn btn-primary mx-1" href="{% url 'logout_action' %}">LOGOUT</a>{% endblock %}
{% block content %}
{% if messages %}
    <div class="pt-3">
        {% for message in messages %}
            <h4{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h4>
        {% endfor %}
    </div>
{% endif %}
<div class="pt-2">
    <h2>{{ details.title }}</h2>
</div>
<hr>
<input type="image" src="{{details.eventImageUrl}}" alt="Image Unavailable" style="width:500px;height:281px;">
<p>Start Date: {{details.startDate}}</p>
<p>Genre: {{details.genre}}</p>
<p>Min Price: {{details.minPrice}}</p>
<p>Max Price: {{details.maxPrice}}</p>
<p>Venu: {{details.venu}}</p>
<p>Address: {{details.address}}</p>
{% endblock %}