{% extends "base.html" %}
{% block title %}<title>Homepage</title>{% endblock %}
{% block homepage %}<a class="btn btn-primary mx-1" href="{% url 'index' %}"><u>HOMEPAGE</u></a>{% endblock %}
{% block profile %}<a class="btn btn-primary mx-1" href="{% url 'profile' %}">PROFILE</a>{% endblock %}
{% block settings %}{% endblock %}
{% block logout_action %}<a class="btn btn-primary mx-1" href="{% url 'logout_action' %}">LOGOUT</a>{% endblock %}
{% block content %}
    {% if messages %}
        <div class="pt-3">
            {% for message in messages %}
                <h4{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h4>
            {% endfor %}
        </div>
    {% endif %}
    {% if events %}
        <div class="events">
            {% for event in events %}
                <div class="event_border">
                    <p>{{event.1}}</p>
                    <p>{{event.3}} &nbsp|&nbsp {{event.4}}</p>
                    <form method="POST" action="{% url 'event_details' %}">
                        {% csrf_token %}
                        <input type="hidden" name="eventId" value="{{event.0}}" readonly="readonly">
                        <input type="image" src="{{event.2}}" alt="Image Unavailable" style="width:225px;height:126px;">
                    </form>
                    <div class="pt-2">
                    </div>
                    <p>{{event.5}} - {{event.6}}</p>
                    <form id="{{event.0}}" action="{% url 'addEventToDatabase' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="locationOfUrl" value="homepage" readonly="readonly" form="{{event.0}}">
                        <input type="hidden" name="eventId" value="{{event.0}}" readonly="readonly" form="{{event.0}}">
                        <input type="hidden" name="eventTitle" value="{{event.1}}" readonly="readonly" form="{{event.0}}">
                        <input type="hidden" name="eventImageUrl" value="{{event.2}}" readonly="readonly" form="{{event.0}}">
                        <input type="hidden" name="eventDate" value="{{event.3}}" readonly="readonly" form="{{event.0}}">
                        <input type="hidden" name="eventLocation" value="{{event.4}}" readonly="readonly" form="{{event.0}}">
                        <input type="hidden" name="eventPrice" value="{{event.5}} - {{event.6}}" readonly="readonly" form="{{event.0}}">
                        <input class="btn btn-primary" type="submit" value="ADD EVENT" form="{{event.0}}">
                    </form>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}