<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Password Reset</title>
            <!-- <link rel="stylesheet" href="./style.css"> -->
        </head>
    <body>
        <center>
            <h2>PASSWORD RESET</h2>
            <hr>
            {% if messages %}
                {% for message in messages %}
                    <h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
                {% endfor %}
            {% endif %}
            <form action="{% url 'password_reset' %}" method="POST">
                {% csrf_token %}
                <table>
                    {{reset_password_form}}
                </table>
                <input type="submit" value="RESET PASSWORD">
            </form>
            <hr>
            <h4>Click the button below to login or signup.</h4>
            <a href="{% url 'login_page' %}">LOGIN</a> | <a href="{% url 'signup_page' %}">SIGNUP</a>
        </center>
    </body>
</html>