<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Profile</title>
            {% load static %}
            <link rel="stylesheet" href="../static/style.css">
        </head>
    <body>
        <center>
            <a href="{% url 'logout_action' %}">LOGOUT</a>
            <a href="{% url 'index' %}">HOMEPAGE</a>
            <a href="{% url 'profile' %}">PROFILE</a>
            <a href="{% url 'settings' %}">SETTINGS</a>
            <h2>Welcome, {{username}}!</h2>
            {% if messages %}
                {% for message in messages %}
                    <h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
                {% endfor %}
            {% endif %}
            <div class="events">
                {% for event in events %}
                    <div class="event_border">
                        <p>{{event.event_title}}</p>
                        <p>{{event.event_date}} &nbsp|&nbsp {{event.event_location}}</p>
                        <img src="{{event.event_image_url}}" alt="TBD" style="width:225px;height:126px;">
                        <p>{{event.event_price}}</p>
                        <form id="{{event.event_id}}" action="deleteEventFromDatabase/" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="eventId" value="{{event.event_id}}" readonly="readonly" form="{{event.event_id}}">
                            <input type="submit" value="REMOVE EVENT" form="{{event.event_id}}">
                        </form>
                    </div>
                {% endfor %}
            </div>
        </center>
    </body>
</html>