<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Profile</title>
            <!-- <link rel="stylesheet" href="./style.css"> -->
        </head>
    <body>
        <center>
            <a href="{% url 'logout_action' %}">LOGOUT</a>
            <a href="{% url 'index' %}">HOMEPAGE</a>
            <a href="{% url 'profile' %}">PROFILE</a>
            {% if messages %}
                {% for message in messages %}
                    <h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
                {% endfor %}
            {% endif %}
            {% for event in events %}
                <p>{{event.event_title}}</p>
                <p>{{event.event_image_url}}</p>
                <p>{{event.event_date}}</p>
                <p>{{event.event_location}}</p>
                <p>{{event.event_price}}</p>
                <form id="{{event.event_id}}" action="deleteEventFromDatabase/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="eventId" value="{{event.event_id}}" readonly="readonly" form="{{event.event_id}}">
                    <input type="submit" value="REMOVE EVENT" form="{{event.event_id}}">
                </form>
                <hr>
            {% endfor %}
        </center>
    </body>
</html>