<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Profile Settings</title>
            <!-- <link rel="stylesheet" href="./style.css"> -->
        </head>
    <body>
        <center>
            <a href="{% url 'logout_action' %}">LOGOUT</a>
            <a href="{% url 'index' %}">HOMEPAGE</a>
            <a href="{% url 'profile' %}">PROFILE</a>
            <a href="{% url 'settings' %}">SETTINGS</a>
            <h2>Welcome, {{username}}!</h2>
            {% if messages %}
                {% for message in messages %}
                    <h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
                {% endfor %}
            {% endif %}
            <form action="{% url 'settings' %}" method="POST">
                {% csrf_token %}
                <p><b>Update Username: </b><input type="text" name="new_username" placeholder="Update your username" maxlength="150"></input></p>
                <p><b>Update Password: </b><input type="password" name="new_password" placeholder="Update your password"></input></p>
                <p><b>Confirm Password: </b><input type="password" name="confirm_new_password" placeholder="Update your password"></input></p>
                <p><b>Update ZIP Code: </b><input type="text" name="new_zip" placeholder="Update your ZIP Code" minlength="5" maxlength="5"></input></p>
                <input type="submit" value="SUBMIT UPDATES">
            </form>
            <h5><u>NOTE</u> * </h5>
            <h6>* Updating your username/zip <b>will not end</b> the current session.</h6>
            <h6>* Updating your password <b>will end</b> the current session (logout).</h6>
            <h6>* Updating any other field with password <b>will end</b> the current session (logout).</h6>
        </center>
    </body>
</html>