{% extends "base.html" %}
{% block title %}<title>Settings</title>{% endblock %}
{% block homepage %}<a class="btn btn-primary mx-1" href="{% url 'index' %}">HOMEPAGE</a>{% endblock %}
{% block profile %}<a class="btn btn-primary mx-1" href="{% url 'profile' %}">PROFILE</a>{% endblock %}
{% block settings %}<a class="btn btn-primary mx-1" href="{% url 'settings' %}"><u>SETTINGS</u></a>{% endblock %}
{% block logout_action %}<a class="btn btn-primary mx-1" href="{% url 'logout_action' %}">LOGOUT</a>{% endblock %}
{% block content %}
    <div class="pt-3">
        <h2>Welcome, {{username}}!</h2>
    </div>
    <div class="pt-2">
        <div class="profile_settings_border">
            <h4>Update your profile information.</h4>
            <hr>
            {% if messages %}
                <div class="pb-2">
                    {% for message in messages %}
                        <h4{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h4>
                    {% endfor %}
                </div>
            {% endif %}
            <form action="{% url 'settings' %}" method="POST">
                {% csrf_token %}
                <table>
                    {{settings_form}}
                </table>
                <div class="pt-3">
                    <input class="btn btn-primary" type="submit" value="SUBMIT UPDATES">
                </div>
            </form>
            <hr>
            <h5><u>NOTE</u> * </h5>
            <div class="pt-2">
                <h6>* Updating your username/zip <b>will not end</b> the current session.</h6>
                <h6>* Updating your password <b>will end</b> the current session (logout).</h6>
                <h6>* Updating any other field with password <b>will end</b> the current session (logout).</h6>
            </div>
        </div>
    </div>
{% endblock %}