<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Signup</title>
            <!-- <link rel="stylesheet" href="./style.css"> -->
        </head>
    <body>
        <center>
            <h2>SIGNUP</h2>
            <hr>
            {% if messages %}
                {% for message in messages %}
                    <h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
                {% endfor %}
            {% endif %}
            <form action="{% url 'signup_page' %}" method="POST">
                {% csrf_token %}
                <table>
                    {{signup_form}}
                </table>
                <input type="submit" value="SIGNUP">
            </form>
            <hr>
            <h4>Click the button below to login.</h4>
            <a href="{% url 'login_page' %}">LOGIN</a>
            <hr>
            <h4>If you've forgotten your password, you can reset it below.</h4>
            <a href="{% url 'password_reset' %}">RESET PASSWORD</a>
        </center>
    </body>
</html>