{% extends "base.html" %}
{% block title %}<title>Signup</title>{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
    <h2><u>SIGNUP</u></h2>
    <div class="login_signup_reset_form_border">
        {% if messages %}
            {% for message in messages %}
                <h4{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h4>
            {% endfor %}
            <hr>
        {% endif %}
        <form action="{% url 'signup_page' %}" method="POST">
            {% csrf_token %}
            <table>
                {{signup_form}}
            </table>
            <div class="pt-3">
                <input class="btn btn-primary" type="submit" value="SIGNUP">
            </div>
        </form>
        <hr>
        <h4>Click the button below to login or reset password.</h4>
        <a class="btn btn-primary" href="{% url 'login_page' %}">LOGIN</a> &nbsp|&nbsp <a class="btn btn-primary" href="{% url 'password_reset' %}">PASSWORD RESET</a>
    </div>
{% endblock %}